* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #f5f5f5;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
    gap: 10px;
}

h1 {
    font-size: 28px;
    margin: 5px 0;
}

h2 {
    font-size: 18px;
    margin: 5px 0;
}

#board {
    width: min(90vw, 95vh, 400px);
    height: min(90vw, 95vh, 400px);
    aspect-ratio: 1 / 1;

    background-color: #cdc1b5;
    border: 6px solid #bbada0;

    display: flex;
    flex-wrap: wrap;
    touch-action: none;
}

.tile {
    width: calc(25% - 1.5px);
    height: calc(25% - 1.5px);
    border: 3px solid #bbada0;

    font-size: clamp(20px, 5vw, 40px);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
}


/* colored tiles */

.x2 {
    background-color: #eee4da;
    color: #727371;
}

.x4 {
    background-color: #ece0ca;
    color: #727371;
}

.x8 {
    background-color: #f4b17a;
    color: white;
}

.x16{
    background-color: #f59575;
    color: white;
}

.x32{
    background-color: #f57c5f;
    color: white;
}

.x64{
    background-color: #f65d3b;
    color: white;
}

.x128{
    background-color: #edce71;
    color: white;
}

.x256{
    background-color: #edcc63;
    color: white;
}

.x512{
    background-color: #edc651;
    color: white;
}

.x1024{
    background-color: #eec744;
    color: white;
}

.x2048{
    background-color: #ecc230;
    color: white;
}

.x4096 {
    background-color: #fe3d3d;
    color: white;
}

.x8192 {
    background-color: #ff2020;
    color: white;
}